{{!< default}} <div class="hystmodal" id="myModal1" aria-hidden="true" x-data>
    <div class="hystmodal__wrap">
        <div class="hystmodal__window modal" role="dialog" aria-modal="true">
            <header class="modal-header">
                <span>Выберите</span>
                <button @click="$store.test.close()">
                    <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.12207 6.12207L22.8775 22.8775" stroke="#FF5D02" stroke-width="2"
                            stroke-miterlimit="10" />
                        <path d="M22.8775 6.12207L6.12207 22.8775" stroke="#FF5D02" stroke-width="2"
                            stroke-miterlimit="10" />
                    </svg>

                </button>
            </header>
            <div class="modal-groups">
                <div class="modal-group">
                    <input x-on:change="$store.test.close()" type="radio" x-model="$store.test.val1" hidden name="q-1"
                        id="i-1-1" value="1">
                    <label for="i-1-1">
                        <span>Почти никогда или никогда</span>
                    </label>
                </div>
                <div class="modal-group">
                    <input x-on:change="$store.test.close()" type="radio" x-model="$store.test.val1" hidden name="q-1"
                        id="i-1-2" value="2">
                    <label for="i-1-2">
                        <span>Редко (реже чем в половине случаев)</span>
                    </label>
                </div>
                <div class="modal-group">
                    <input x-on:change="$store.test.close()" type="radio" x-model="$store.test.val1" hidden name="q-1"
                        id="i-1-3" value="3">
                    <label for="i-1-3">
                        <span>Иногда (примерно в половине случаев)</span>
                    </label>
                </div>
                <div class="modal-group">
                    <input x-on:change="$store.test.close()" type="radio" x-model="$store.test.val1" hidden name="q-1"
                        id="i-1-4" value="4">
                    <label for="i-1-4">
                        <span>Часто (более чем в половине случаев)</span>
                    </label>
                </div>
                <div class="modal-group">
                    <input x-on:change="$store.test.close()" type="radio" x-model="$store.test.val1" hidden name="q-1"
                        id="i-1-5" value="5">
                    <label for="i-1-5">
                        <span>Почти всегда или всегда</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="hystmodal" id="myModal2" aria-hidden="true" x-data>
        <div class="hystmodal__wrap">
            <div class="hystmodal__window modal" role="dialog" aria-modal="true">
                <header class="modal-header">
                    <span>Выберите</span>
                    <button @click="$store.test.close()">
                        <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.12207 6.12207L22.8775 22.8775" stroke="#FF5D02" stroke-width="2"
                                stroke-miterlimit="10" />
                            <path d="M22.8775 6.12207L6.12207 22.8775" stroke="#FF5D02" stroke-width="2"
                                stroke-miterlimit="10" />
                        </svg>

                    </button>
                </header>
                <div class="modal-groups">
                    <div class="modal-group">
                        <input x-on:change="$store.test.close()" type="radio" x-model="$store.test.val2" hidden
                            name="q-2" id="i-2-1" value="1">
                        <label for="i-2-1">
                            <span>Почти никогда или никогда</span>
                        </label>
                    </div>
                    <div class="modal-group">
                        <input x-on:change="$store.test.close()" type="radio" x-model="$store.test.val2" hidden
                            name="q-2" id="i-2-2" value="2">
                        <label for="i-2-2">
                            <span>Редко (реже чем в половине случаев)</span>
                        </label>
                    </div>
                    <div class="modal-group">
                        <input x-on:change="$store.test.close()" type="radio" x-model="$store.test.val2" hidden
                            name="q-2" id="i-2-3" value="3">
                        <label for="i-2-3">
                            <span>Иногда (примерно в половине случаев)</span>
                        </label>
                    </div>
                    <div class="modal-group">
                        <input x-on:change="$store.test.close()" type="radio" x-model="$store.test.val2" hidden
                            name="q-2" id="i-2-4" value="4">
                        <label for="i-2-4">
                            <span>Часто (более чем в половине случаев)</span>
                        </label>
                    </div>
                    <div class="modal-group">
                        <input x-on:change="$store.test.close()" type="radio" x-model="$store.test.val2" hidden
                            name="q-2" id="i-2-5" value="5">
                        <label for="i-2-5">
                            <span>Почти всегда или всегда</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hystmodal" id="myModal3" aria-hidden="true" x-data>
        <div class="hystmodal__wrap">
            <div class="hystmodal__window modal" role="dialog" aria-modal="true">
                <header class="modal-header">
                    <span>Выберите</span>
                    <button @click="$store.test.close()">
                        <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.12207 6.12207L22.8775 22.8775" stroke="#FF5D02" stroke-width="2"
                                stroke-miterlimit="10" />
                            <path d="M22.8775 6.12207L6.12207 22.8775" stroke="#FF5D02" stroke-width="2"
                                stroke-miterlimit="10" />
                        </svg>

                    </button>
                </header>
                <div class="modal-groups">
                    <div class="modal-group">
                        <input x-on:change="$store.test.close()" type="radio" x-model="$store.test.val3" hidden
                            name="q-3" id="i-3-1" value="1">
                        <label for="i-3-1">
                            <span>Почти никогда или никогда</span>
                        </label>
                    </div>
                    <div class="modal-group">
                        <input x-on:change="$store.test.close()" type="radio" x-model="$store.test.val3" hidden
                            name="q-3" id="i-3-2" value="2">
                        <label for="i-3-2">
                            <span>Редко (реже чем в половине случаев)</span>
                        </label>
                    </div>
                    <div class="modal-group">
                        <input x-on:change="$store.test.close()" type="radio" x-model="$store.test.val3" hidden
                            name="q-3" id="i-3-3" value="3">
                        <label for="i-3-3">
                            <span>Иногда (примерно в половине случаев)</span>
                        </label>
                    </div>
                    <div class="modal-group">
                        <input x-on:change="$store.test.close()" type="radio" x-model="$store.test.val3" hidden
                            name="q-3" id="i-3-4" value="4">
                        <label for="i-3-4">
                            <span>Часто (более чем в половине случаев)</span>
                        </label>
                    </div>
                    <div class="modal-group">
                        <input x-on:change="$store.test.close()" type="radio" x-model="$store.test.val3" hidden
                            name="q-3" id="i-3-5" value="5">
                        <label for="i-3-5">
                            <span>Почти всегда или всегда</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hystmodal" id="myModal4" aria-hidden="true" x-data>
        <div class="hystmodal__wrap">
            <div class="hystmodal__window modal" role="dialog" aria-modal="true">
                <header class="modal-header">
                    <span>Выберите</span>
                    <button @click="$store.test.close()">
                        <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.12207 6.12207L22.8775 22.8775" stroke="#FF5D02" stroke-width="2"
                                stroke-miterlimit="10" />
                            <path d="M22.8775 6.12207L6.12207 22.8775" stroke="#FF5D02" stroke-width="2"
                                stroke-miterlimit="10" />
                        </svg>

                    </button>
                </header>
                <div class="modal-groups">
                    <div class="modal-group">
                        <input x-on:change="$store.test.close()" type="radio" x-model="$store.test.val4" hidden
                            name="q-4" id="i-4-1" value="1">
                        <label for="i-4-1">
                            <span>Почти никогда или никогда</span>
                        </label>
                    </div>
                    <div class="modal-group">
                        <input x-on:change="$store.test.close()" type="radio" x-model="$store.test.val4" hidden
                            name="q-4" id="i-4-2" value="2">
                        <label for="i-4-2">
                            <span>Редко (реже чем в половине случаев)</span>
                        </label>
                    </div>
                    <div class="modal-group">
                        <input x-on:change="$store.test.close()" type="radio" x-model="$store.test.val4" hidden
                            name="q-4" id="i-4-3" value="3">
                        <label for="i-4-3">
                            <span>Иногда (примерно в половине случаев)</span>
                        </label>
                    </div>
                    <div class="modal-group">
                        <input x-on:change="$store.test.close()" type="radio" x-model="$store.test.val4" hidden
                            name="q-4" id="i-4-4" value="4">
                        <label for="i-4-4">
                            <span>Часто (более чем в половине случаев)</span>
                        </label>
                    </div>
                    <div class="modal-group">
                        <input x-on:change="$store.test.close()" type="radio" x-model="$store.test.val4" hidden
                            name="q-4" id="i-4-5" value="5">
                        <label for="i-4-5">
                            <span>Почти всегда или всегда</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hystmodal" id="myModal5" aria-hidden="true" x-data>
        <div class="hystmodal__wrap">
            <div class="hystmodal__window modal" role="dialog" aria-modal="true">
                <header class="modal-header">
                    <span>Выберите</span>
                    <button @click="$store.test.close()">
                        <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.12207 6.12207L22.8775 22.8775" stroke="#FF5D02" stroke-width="2"
                                stroke-miterlimit="10" />
                            <path d="M22.8775 6.12207L6.12207 22.8775" stroke="#FF5D02" stroke-width="2"
                                stroke-miterlimit="10" />
                        </svg>

                    </button>
                </header>
                <div class="modal-groups">
                    <div class="modal-group">
                        <input x-on:change="$store.test.close()" type="radio" x-model="$store.test.val5" hidden
                            name="q-5" id="i-5-1" value="1">
                        <label for="i-5-1">
                            <span>Чрезвычайно трудно</span>
                        </label>
                    </div>
                    <div class="modal-group">
                        <input x-on:change="$store.test.close()" type="radio" x-model="$store.test.val5" hidden
                            name="q-5" id="i-5-2" value="2">
                        <label for="i-5-2">
                            <span>Очень трудно</span>
                        </label>
                    </div>
                    <div class="modal-group">
                        <input x-on:change="$store.test.close()" type="radio" x-model="$store.test.val5" hidden
                            name="q-5" id="i-5-3" value="3">
                        <label for="i-5-3">
                            <span>Трудно</span>
                        </label>
                    </div>
                    <div class="modal-group">
                        <input x-on:change="$store.test.close()" type="radio" x-model="$store.test.val5" hidden
                            name="q-5" id="i-5-4" value="4">
                        <label for="i-5-4">
                            <span>Не очень трудно</span>
                        </label>
                    </div>
                    <div class="modal-group">
                        <input x-on:change="$store.test.close()" type="radio" x-model="$store.test.val5" hidden
                            name="q-5" id="i-5-5" value="5">
                        <label for="i-5-5">
                            <span>Не трудно</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <header class="header js-go-observer" data-gobutton="0">
        <h1 class="header-title">Все, что вы хотели знать о</h1>
        <div class="desktop-only">
            {{!-- <object class="header__sex" data="{{asset 'images/sex.svg'}}" alt="Сексе"></object> --}}
            <svg class="header__sex" viewBox="0 0 1390 221" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M277.482 131.048V128.548H274.982H219.452H216.952V131.048C216.952 140.321 211.396 149.262 199.432 156.012C187.432 162.783 169.189 167.19 144.593 167.19H135.082C110.918 167.19 92.8839 162.848 80.9514 154.458C69.1741 146.177 63.0304 133.734 63.0304 116.634V103.753C63.0304 87.293 69.1543 74.9902 80.9514 66.6955C92.8925 58.2997 110.934 53.8096 135.082 53.8096H144.593C169.382 53.8096 187.388 57.8471 199.103 64.3448C210.721 70.7892 216.031 79.5481 216.031 89.3387V91.8387H218.531H273.755H276.255V89.3387C276.255 60.3276 262.387 38.4747 238.903 23.995C215.544 9.59224 182.737 2.5 144.593 2.5H135.082C98.2898 2.5 65.2056 9.98621 41.2443 26.4389C17.1553 42.9792 2.5 68.4473 2.5 103.753V116.634C2.5 151.636 17.157 177.248 41.2306 194.015C65.1873 210.7 98.2717 218.5 135.082 218.5H144.593C182.777 218.5 215.883 210.703 239.532 195.884C263.269 181.01 277.482 159.028 277.482 131.048Z"
                    stroke="white" stroke-width="5" />
                <path
                    d="M310.714 5.26018H308.214V7.76018V213.24V215.74H310.714H539.279H541.779V213.24V170.61V168.11H539.279H367.211V131.094H520.564H523.064V128.594V89.032V86.532H520.564H367.211V52.5829H537.745H540.245V50.0829V7.76018V5.26018H537.745H310.714Z"
                    stroke="white" stroke-width="5" />
                <path
                    d="M575.567 5.26018H573.067V7.76018V213.24V215.74H575.567H629.564H632.064V213.24V132.935H641L750.474 215.238L751.141 215.74H751.976H824.994H832.496L826.493 211.24L691.276 109.863V102.602L823.972 9.80894L830.477 5.26018H822.539H751.976H751.19L750.546 5.70949L638.596 83.7718H632.064V7.76018V5.26018H629.564H575.567Z"
                    stroke="white" stroke-width="5" />
                <path class='header__svg-letter-s'
                    d="M1100.2 131.048V128.548H1097.7H1042.17H1039.67V131.048C1039.67 140.321 1034.12 149.262 1022.15 156.012C1010.15 162.783 991.91 167.19 967.314 167.19H957.804C933.639 167.19 915.605 162.848 903.673 154.458C891.896 146.177 885.752 133.734 885.752 116.634V103.753C885.752 87.293 891.876 74.9902 903.673 66.6955C915.614 58.2997 933.656 53.8096 957.804 53.8096H967.314C992.103 53.8096 1010.11 57.8471 1021.82 64.3448C1033.44 70.7892 1038.75 79.5481 1038.75 89.3387V91.8387H1041.25H1096.48H1098.98V89.3387C1098.98 60.3276 1085.11 38.4747 1061.62 23.995C1038.27 9.59224 1005.46 2.5 967.314 2.5H957.804C921.011 2.5 887.927 9.98621 863.966 26.4389C839.877 42.9792 825.221 68.4473 825.221 103.753V116.634C825.221 151.636 839.878 177.248 863.952 194.015C887.909 210.7 920.993 218.5 957.804 218.5H967.314C1005.5 218.5 1038.6 210.703 1062.25 195.884C1085.99 181.01 1100.2 159.028 1100.2 131.048Z"
                    stroke="white" stroke-width="5" />
                <path class='header__svg-letter-e'
                    d="M1133.44 5.26018H1130.94V7.76018V213.24V215.74H1133.44H1362H1364.5V213.24V170.61V168.11H1362H1189.93V131.094H1343.29H1345.79V128.594V89.032V86.532H1343.29H1189.93V52.5829H1360.47H1362.97V50.0829V7.76018V5.26018H1360.47H1133.44Z"
                    stroke="white" stroke-width="5" />
            </svg>
            <div class="header__health-wrapper">
                {{!-- <img class="header__health-image" src="{{asset 'images/health.svg'}}" alt="Здоровье"> --}}
                <svg class="header__health-image" width="1051" height="256" viewBox="0 0 1051 256" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M53.6493 0C21.6713 0 2.11446 16.0579 2.11446 43.6985L2.11425 79.0188H27.7496L27.7498 43.6985C27.7498 28.9569 37.5282 20.5331 53.6493 20.5331H56.2922C72.4133 20.5331 81.6632 28.9569 81.6632 43.6985L81.663 73.6415C81.663 88.6465 72.4131 97.3335 54.9706 97.3335H39.6422V118.393H54.9706C71.356 118.393 84.5701 124.711 84.5701 142.085V175.974C84.5701 191.505 75.8488 200.719 56.5562 200.719H53.9134C34.6209 200.719 25.8996 192.032 25.8996 175.447V154.265H0L0 174.921C0 205.984 20.8782 221.252 53.9134 221.252H56.5562C89.8557 221.252 110.205 205.72 110.205 177.553V142.612C110.205 124.448 101.484 114.181 89.3271 108.653V103.388C101.748 96.5438 107.298 85.2243 107.298 70.4826L107.299 40.0131C107.299 16.0579 88.2702 0 56.2922 0H53.6493Z"
                        fill="#FF5D02" />
                    <path
                        d="M169.485 23.692H219.434L219.434 197.56H158.385C165.256 180.712 169.485 109.51 169.485 50.8062V23.692ZM145.7 2.10596V50.8062C145.7 106.087 141.207 180.712 133.543 197.56H121.121V256H145.7V219.146H239.784V256H264.362V197.56H245.069L245.07 2.10596H145.7Z"
                        fill="#FF5D02" />
                    <path
                        d="M334.308 0C298.894 0 279.337 21.3228 279.337 55.8078L279.337 165.97C279.337 200.192 298.894 221.252 334.308 221.252H336.951C372.629 221.252 391.921 200.192 391.921 165.97L391.921 55.8078C391.921 21.3228 372.629 0 336.951 0H334.308ZM334.308 23.1655H336.951C357.829 23.1655 366.022 36.8542 366.022 57.3873L366.022 163.601C366.022 184.398 357.829 198.086 336.951 198.086H334.308C312.901 198.086 304.973 184.398 304.973 163.601L304.973 57.3873C304.973 36.8542 312.901 23.1655 334.308 23.1655Z"
                        fill="#FF5D02" />
                    <path
                        d="M421.618 2.10596L421.618 219.146H447.517V149.644H471.038C509.888 149.644 524.159 131.743 524.159 105.156L524.159 46.8575C524.159 18.9536 510.681 2.10596 471.039 2.10596H421.618ZM447.518 23.692H469.717C490.595 23.692 498.26 32.1158 498.26 47.9105L498.259 104.366C498.259 118.318 490.331 128.058 469.717 128.058H447.517L447.518 23.692Z"
                        fill="#FF5D02" />
                    <path
                        d="M604.784 0C569.37 0 549.813 21.3228 549.813 55.8078L549.813 165.97C549.813 200.192 569.37 221.252 604.783 221.252H607.426C643.104 221.252 662.397 200.192 662.397 165.97L662.397 55.8078C662.397 21.3228 643.104 0 607.426 0H604.784ZM604.784 23.1655H607.426C628.305 23.1655 636.497 36.8542 636.497 57.3873L636.497 163.601C636.497 184.398 628.304 198.086 607.426 198.086H604.783C583.377 198.086 575.448 184.398 575.448 163.601L575.448 57.3873C575.448 36.8542 583.377 23.1655 604.784 23.1655Z"
                        fill="#FF5D02" />
                    <path
                        d="M692.094 2.10596L692.093 219.146H749.443C783.535 219.146 797.013 201.772 797.013 175.974V146.605C797.013 127.652 788.028 118.175 776.135 112.384L776.135 98.2849C787.763 91.4405 793.578 81.4372 793.578 67.4853V40.5396C793.578 15.0049 777.985 2.10596 744.421 2.10596H692.094ZM717.2 21.8493H741.25C761.335 21.8493 768.207 30.2731 768.207 43.6985V70.6442C768.207 85.3859 758.957 93.5465 742.836 93.5465H717.2V21.8493ZM717.2 120.281H744.685C759.485 120.281 771.906 126.862 771.906 144.763V173.341C771.906 188.609 766.092 199.402 746.535 199.402H717.2V120.281Z"
                        fill="#FF5D02" />
                    <path
                        d="M825.783 2.10596L825.783 219.146H873.882C912.995 219.146 928.324 202.825 928.324 171.499L928.324 146.605C928.324 117.648 913.26 100.801 873.882 100.801H851.682V2.10596H825.783ZM851.682 122.387H873.882C895.024 122.387 902.424 131.337 902.424 148.711L902.424 170.446C902.424 189.399 895.024 197.56 873.882 197.56H851.682L851.682 122.387Z"
                        fill="#FF5D02" />
                    <path
                        d="M955.859 2.10596L955.859 219.146H1051V197.56H981.758V121.86H1041.22V100.801H981.758L981.758 23.692H1049.41V2.10596H955.859Z"
                        fill="#FF5D02" />
                </svg>
                <div class="header__health-column">
                    <span class="header__health-relationship">Отноше<br>ниях</span>
                    <span class="header__health-answer">Быстрый ответ</span>
                </div>
            </div>
        </div>
        <div class="mobile-only">
            <div class="header__mobile">
                <img src="{{asset 'images/sex-2.svg'}}" alt="Сексе">
                <img src="{{asset 'images/health-2.svg'}}" alt="Здоровье">
                <img src="{{asset 'images/relationship.svg'}}" alt="Отношениях">
            </div>
        </div>
        <a target="_blank" href="https://jent.men" class="spec js-spec-watcher">СПЕЦИАЛИСТАМ</a>
    </header>
    <section class="posts">
        {{pagination}}
        <div class="posts-grid">
            {{#foreach posts}}
            {{> "loop"}}
            {{/foreach}}
        </div>
    </section>

    <section class="index js-go-observer" data-gobutton="1">
        <span class="index-f">ИНДЕКС*</span>
        <span class="index-s">ЭРЕКТИЛЬНОЙ</span>
        <div class="mobile">
            <span class="index-i">ФУНКЦИИ</span>
        </div>
        <div class="index-image">
            <div class="index-container">
                <img src="/assets/images/index2.png" alt="">
            </div>
            <div class="index-container" id="index1">
                <img src="/assets/images/index1.png" alt="">
            </div>
        </div>

        <span class="index-l">*Международный Индекс Эректильной Функции (МИЭФ-5) – анкета, которая определяет, страдает
            ли мужчина эректильной дисфункцией.

        </span>

        <span class="index-t1">Эти вопросы о том, как нарушения эрекции сказывались на Вашей сексуальной жизни в течение
            последних 4-х недель</span>


    </section>

    <section class="test js-go-observer" data-gobutton="2">
        <div class="test-list">
            <div class="question">
                <span>Как часто у Вас возникала эрекция при сексуальной активности за последнее время?</span>
                <a href="#" class="question-a" data-hystmodal="#myModal1">
                    <svg width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.9092 0.522217L8.02589 7.503L0.948011 0.725314" stroke="white"
                            stroke-linecap="round" />
                    </svg>
                    <span id="q-1"></span>
                </a>
            </div>
            <div class="question">
                <span>Как часто за последнее время возникающая у Вас эрекция была достаточна для введения полового члена
                    (для начала полового акта)?</span>
                <a href="#" class="question-a" data-hystmodal="#myModal2">
                    <svg width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.9092 0.522217L8.02589 7.503L0.948011 0.725314" stroke="white"
                            stroke-linecap="round" />
                    </svg>
                    <span id="q-2"></span>
                </a>
            </div>
            <div class="question">
                <span>При попытке полового акта как часто у Вас получалось осуществить введение полового члена (начать
                    половой акт)?</span>
                <a href="#" class="question-a" data-hystmodal="#myModal3">
                    <svg width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.9092 0.522217L8.02589 7.503L0.948011 0.725314" stroke="white"
                            stroke-linecap="round" />
                    </svg>
                    <span id="q-3"></span>
                </a>
            </div>
            <div class="question">
                <span>Как часто за последнее время Вам удавалось сохранить эрекцию после начала полового акта?</span>
                <a href="#" class="question-a" data-hystmodal="#myModal4">
                    <svg width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.9092 0.522217L8.02589 7.503L0.948011 0.725314" stroke="white"
                            stroke-linecap="round" />
                    </svg>
                    <span id="q-4"></span>
                </a>
            </div>
            <div class="question">
                <span>Насколько трудным было сохранить эрекцию в течении и до конца полового акта?</span>
                <a href="#" class="question-a" data-hystmodal="#myModal5">
                    <svg width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.9092 0.522217L8.02589 7.503L0.948011 0.725314" stroke="white"
                            stroke-linecap="round" />
                    </svg>
                    <span id="q-5"></span>
                </a>
            </div>

        </div>
        <div class="test-res-score-container">
            <span class="test-res-score">Результат</span>
            <span x-data x-text="$store.res.getRes()" class="test-res-score"></span>
        </div>
        <div class="test-res-inter-container">
            <span class="text-res-inter">Оценка результатов</span>
            <span class="text-res-inter"><b>21-25 баллов</b> - эректильная дисфункция отсутствует</span>
            <span class="text-res-inter"><b>16-20 баллов</b> - эректильная дисфункция легкой степени</span>
            <span class="text-res-inter"><b>11-15 баллов</b> - эректильная дисфункция умеренной степени</span>
            <span class="text-res-inter"><b>5-10 баллов</b> - выраженная эректильная дисфункция</span>
        </div>

        <span class="test-res-text" x-data x-show="$store.res.show" x-text="$store.res.text"></span>
        <span class="test-a">Внимание! Анкета не является основой диагностики, при наличии симптомов эректильной
            дисфункции верную интерпретацию результатов может дать только врач!</span>
    </section>

    <section class="grade js-go-observer" data-gobutton="3">
        <h2 class="grade__title">У мужчин с нарушением эрекции при оценке качества жизни...</h2>
        <div class="grade__content-wrapper">
            <div class="grade__grid-wrapper">
                <div class="grade__by">В</div>
                <div class="grade__amount grade__amount_correction">4</div>
                <div class="grade__times">раза</div>
                <p class="grade__text">выше физическая неудовлетво- ренность</p>
            </div>
            <div class="grade__grid-wrapper">
                <div class="grade__by">В</div>
                <div class="grade__amount">2</div>
                <div class="grade__times">раза</div>
                <p class="grade__text">выше эмоциональная неудовлетво- ренность</p>
            </div>
        </div>
        <a class="grade__link" href="https://link.springer.com/chapter/10.1007/978-1-4757-6260-0_23">2 — Deutsch S,
            Sherman L. Previously unrecognized diabetes mellitus in sexually impotent men. JAMA 1980; 244. -
            2430–2432.</a>
    </section>

    <section class="graph js-go-observer" data-gobutton="4">
        <div class="graph__grid-wrapper">
            <h2 class="graph__title">Эпидемиологическое исследование распространенности эректильной дисфункции по
                опроснику МИЭФ–5</h2>
            <div class="graph__stat">
                <div class="graph__column col-1">
                    <p class="graph__column-text">Средняя степень ЭД</p>
                    <div class="graph__column-col">
                        <p class="graph__column-percentage">6,6%</p>
                    </div>
                </div>
                <div class="graph__column col-2">
                    <p class="graph__column-text">Отсутствуют признаки ЭД</p>
                    <div class="graph__column-col">
                        <p class="graph__column-percentage">10,1%</p>
                    </div>
                </div>
                <div class="graph__column col-3">
                    <p class="graph__column-text">Тяжелая степень ЭД</p>
                    <div class="graph__column-col">
                        <p class="graph__column-percentage">12%</p>
                    </div>
                </div>
                <div class="graph__column col-4">
                    <p class="graph__column-text">Легкая степень ЭД</p>
                    <div class="graph__column-col">
                        <p class="graph__column-percentage">71,3%</p>
                    </div>
                </div>
            </div>
            <a class="graph__link"
                href="https://www.rmj.ru/articles/urologiya/Epidemiologicheskoe_issledovanie_rasprostranennosti_erektilynoy_disfunkcii_v_Rossiyskoy_Federacii/">1
                — Эпидемиологическое исследование распространенности эректильной дисфункции в Российской Федерации</a>
        </div>
    </section>

    <section class="email-form">
        <div class="email-form__text-wrapper">
            <h3 class="email-form__title">Подпишись на&nbsp;рассылку!</h3>
            <p class="email-form__desc">Оставь&nbsp;свой&nbsp;email! Пришлем&nbsp;много&nbsp;крутых
                и&nbsp;полезных&nbsp;материалов</p>
        </div>
        <div class="email-form__form-wrapper">
            <label class="email-form__email-label" for="email">Email</label>
            <input class="email-form__input" name="email" id="email-input" placeholder="Введи email">
            <label class="email-form__checkbox-wrapper" for="consent">
                <input type="checkbox" id="consent" name="consent">
                <div class="email-form__consent-fake-checkbox"></div>
                <div class="email-form__consent-label" for="consent">
                    <a class="email-form__privacy-link">Я согласен с политикой конфиденциальности</a>
                </div>
            </label>
            <button id="submit-email-button" class="email-form__button" type="submit">Отправить</button>
            <div class="email-form__lips"></div>
            <div class="email-form__eighteen"></div>
            <div class="email-form__gender"></div>
        </div>
    </section>

    <div class="last-spec">
        <a target="_blank" href="https://jent.men" class="spec js-spec-watcher"
            data-micromodal-trigger="modal-1">СПЕЦИАЛИСТАМ</a>
    </div>

    <div class="gh-about-content-inner" style="display:none;">
        {{#if @custom.primary_header}}
        <h1 class="gh-about-primary">{{{@custom.primary_header}}}</h1>
        {{/if}}
        {{#if @custom.secondary_header}}
        <p class="gh-about-secondary">{{{@custom.secondary_header}}}</p>
        {{/if}}
        {{#if @site.members_enabled}}
        {{#unless @member}}
        <div class="gh-subscribe-input" data-portal>
            jamie@example.com
            <span class="gh-btn gh-primary-btn">Subscribe</span>
        </div>
        {{/unless}}
        {{/if}}
    </div>
    <div class="go-button__centring-wrapper">
        <div class="go-button">
            <a target="_blank" href="https://jent.men" class="go-button__wrapper js-spec-watcher">
                <div class="go-button__middle">
                    <div class="go-button__center"></div>
                </div>
                <div class="go-button__text"></div>
                <div class="go-button__title">Переходи к&nbsp;делу</div>
            </a>
        </div>
    </div>

    {{#contentFor "body_class"}}{{#match @custom.header_section_layout "Side by side"}}
    has-side-about{{/match}}{{#match
    @custom.header_section_layout "Large background"}}{{#if @site.cover_image}} is-head-transparent
    has-background-about{{else}} has-side-about{{/if}}{{/match}}{{#match @custom.header_section_layout "Typographic
    profile"}}{{#if @site.icon}} has-typographic-about{{else}} has-side-about{{/if}}{{/match}}{{/contentFor}}