{{!< default}}

<main class="gh-main gh-outer">
    <div class="gh-inner">
        {{#post}}
            <article class="gh-article gh-custom-post">
                {{#if feature_image}}
                    <header class="gh-article-header gh-canvas">
                        <h1 class="gh-article-title">{{title}}</h1>
                        {{#if custom_excerpt}}
                            <p class="gh-article-excerpt">{{custom_excerpt}}</p>
                        {{/if}}
                        {{> "feature-image"}}
                    </header>
                {{/if}}

                <section class="gh-content gh-canvas">
                    {{content}}
                    {{#unless feature_image}}
                        <header class="gh-article-header">
                            <h1 class="gh-article-title">{{title}}</h1>
                            {{#if custom_excerpt}}
                                <p class="gh-article-excerpt">{{custom_excerpt}}</p>
                            {{/if}}
                        </header>
                    {{/unless}}
                    <aside class="gh-article-meta">
                        <div class="gh-article-meta-inner">
                            {{#primary_author}}
                                {{#if profile_image}}
                                    <figure class="gh-author-image">
                                        <img src="{{profile_image}}" alt="{{name}}">
                                    </figure>
                                {{/if}}
                                <div class="gh-article-meta-wrapper">
                                <h4 class="gh-author-name">
                                    <a href="{{url}}">{{name}}</a>
                                </h4>
                            {{/primary_author}}
                            <time class="gh-article-date" datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time></div>
                            {{#if primary_tag}}
                                <a class="gh-article-tag" href="{{primary_tag.url}}" style="--tag-color: {{primary_tag.accent_color}}">{{primary_tag.name}}</a>
                            {{/if}}
                        </div>
                    </aside>
                </section>

                {{#if comments}}
                    <div class="gh-comments gh-canvas">
                        <h2 class="gh-comments-title">{{comment_count empty="" single="comment" plural="comments"}}</h2>
                        {{comments title="" count=false}}
                    </div>
                {{/if}}

                <footer class="gh-article-footer gh-canvas">
                    <nav class="gh-navigation">
                        <div class="gh-navigation-previous">
                            {{#prev_post}}
                                <a class="gh-navigation-link" href="{{url}}">← Прошлый пост</a>
                            {{/prev_post}}
                        </div>

                        <div class="gh-navigation-middle">
                            <a class="gh-navigation-link" href="/">На главную</a>
                        </div>

                        <div class="gh-navigation-next">
                            {{#next_post}}
                                <a class="gh-navigation-link" href="{{url}}">Следующий пост →</a>
                            {{/next_post}}
                        </div>
                    </nav>
                </footer>
            </article>
        {{/post}}
    </div>
    <div class="go-button__centring-wrapper">
        <div class="go-button">
            <a target="_blank" href="https://jent.men" class="go-button__wrapper js-spec-watcher">
                <div class="go-button__middle">
                    <div class="go-button__center"></div>
                </div>
                <div class="go-button__text"></div>
                <div class="go-button__title">Переходи к&nbsp;делу</div>
            </a>
        </div>
    </div>
</main>